.App {
  text-align: center;
}
#scoreSection {
  color: red;
  text-align: center;
  font-size: 40px;
}
#answerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#answerSection button {
  height: 50px;
  background-color: rgb(143, 90, 10);
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 30%;
  margin: 10px auto;
  border-radius: 10px;
  color: white;
}
#questionSection {
  font-size: 25px;
}
